.startScreen {
    -fx-background-repeat: no-repeat;
    -fx-background-image:url("../assets/gameScreen/main.png");
    -fx-background-size: 100% 100%;
}
.creditScreen,.endScreen,.playerCustomizationScreen, .tutorialScreen {
    -fx-background-repeat: no-repeat;
    -fx-background-image:url("../assets/gameScreen/mainBlurred.png");
    -fx-background-size: 100% 100%;
}

.playerPanel {
    -fx-background-repeat: no-repeat;
    -fx-background-image:url("../assets/gameScreen/Character_Frame_Container.png");
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.playerNameTextField {
    -fx-background-repeat: no-repeat;
    -fx-background-image:url("../assets/gameScreen/Name_Box.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-font-size: 26px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.playerPanelGameScreen {
    -fx-background-repeat: no-repeat;
    -fx-background-image:url("../assets/gameScreen/Character_Frame_Container.png");
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.playerNameTextFieldGameScreen {
    -fx-background-repeat: no-repeat;
    -fx-background-image:url("../assets/gameScreen/Name_Box.png");
    -fx-background-color: transparent;
    -fx-background-position: center;
    -fx-font-size: 26px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-size: 100% 100%;
}

.gameScreenBackGround {
    -fx-background-repeat: no-repeat;
    -fx-background-image:url("../assets/gameScreen/12efb857005f76685eeb8b41d87571f0.jpg");
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}

.menuScreen {
    -fx-background-repeat: no-repeat;
    -fx-background-image:url("../assets/gameScreen/gameBack.png");
    -fx-background-position: center;
    -fx-background-size: 100% 100%;
}